{% if page.prerequisites %}
<div class="guide-prerequisites">
  <h3>Prerequisites</h3>
  <ul>
    {% for prereq in page.prerequisites %}
    <li>
      {% assign prereq_guide = site.guides | where_exp: "guide", "guide.url contains prereq" | first %}
      {% if prereq_guide %}
        <a href="{{ prereq_guide.url | relative_url }}">{{ prereq_guide.title }}</a>
      {% else %}
        {{ prereq | replace: '-', ' ' | capitalize }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
